body {
    padding-top: 100px;
    font-family: "Lucida Grande", "Helvetica Neue", Helvetica;
}

h1, h2, h3, h4, h5, nav {
    font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    padding-top: 10px;
    font-size: smaller;
}

a {
    text-decoration: underline;
}

.inverted {
	color: white;
    background-color: black;
}

#welcome {
    padding-top: 100px;
}
